/* шрифт для FU - noto serif JP */
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,regular,500,600,700,800,900);
/* шрифт для хедера - Kalam */
@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);

/* ------------------------------ настройки ------------------------------------- */
:root
{
    --custom-gradient-beta: linear-gradient(150deg, rgba(255,200,0,1) 0%, rgba(0,0,0,1) 30%, rgba(255,200,0,1) 60%, rgba(0,0,0,1) 100%);
}

* 
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a, h1, h2, h3, h4, p
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------------------------------- */

/* -------------------------- топ меню ----------------------------------------- */
header
{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

header a
{
    font-size: 64px;
    font-family: 'Noto Serif JP';
    color: white;
}

header p
{
    font-family: 'Kalam';
    font-size: 40px;
    padding-top: 10px;
    color: white;
}

.site-name
{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
/* ------------------------------------------------------------------- */

/* ------------------------------- bg картинка ------------------------------------ */
.background 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/Ys-DBJeX0nE.JPG?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) blur(3px);
    transform: scale(1.02);
    z-index: -100;
}
/* ------------------------------------------------------------------- */

/* ------------------------------- карточки ------------------------------------ */
.card-container
{
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 1400px;
    margin-top: 100px;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #dedede53;
    border-radius: 10px;
}

.card
{
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

.beta
{
    background: gray;
}

.card.beta
{
    display: flex;
    justify-content: center;
    text-align: center;
}
/* ------------------------------------------------------------------- */